@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;0,900;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.row{
    width: 100%;
    padding: 0px 80px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar ul li{
    list-style-type: none;

}
.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 19px;
    color: rgba(6, 136, 112);
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: rgb(0, 255, 187);
    color: #fff;
}

.navbar h1{
    color: rgba(6, 136, 112);
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.section{
    width: 100%;
}
.section .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: rgba(6, 136, 112) ;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: rgba(6, 136, 112) ;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content .article h3{
    color: #a3a3a3;
    font-size: 17px;
}
.content .article p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.content .article .button{
    margin-top: 50px;
}
.content .article .button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: rgba(6, 136, 112) ;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.content .article .button a:hover{
    color: #fff;
    background-color: rgb(0, 255, 187);
}
.container .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}
.container .social i{
    color: #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: rgba(6, 136, 112);
    margin: 0px 5px;
}
.container .social i:hover{
    color: #fff;
    background-color: rgb(0, 255, 187);
}

@media screen and (max-width: 768px){

    .navbar h1{
        float: none;
        display: inline;
        
    }
    .section .container{
        width: 80%;
        display: block;
        margin: auto;
    }
    .content{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .container .title h1{
        text-align: center;
        font-size: 30px;
    }
    .container .article .button {
        text-align: center;
    }
    .container .article .button a{
        padding: 6px 15px;
        font-size: 16px;
    }
    .container .social i{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}